<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>B2 Rust</title>
    <link href="/assets/static/style.css" rel="stylesheet">
  </head>
  <body class="flex h-screen w-full">
    <main class="text-red-500 text-xl font-bold m-auto">
      Hello -> {{ val }}

      <form class="flex flex-col gap-2 m-auto" method="POST" target="/">
        <input class="input" type="email" name="email" id="email" placeholder="email" required>
        <input class="input" type="password" name="password" id="password" placeholder="password" required>
        <button class="btn btn-primary" type="submit">LOGIN</button>
      </form>
    </main>
  </body>
</html>
